<div class="page-header">
  <br><br>
  <h1 class="title">Proyectos</h1>
  <br>
</div>
<button type="button" mat-raised-button (click)="nuevoProyecto()" class="btn btn-outline-success" id="boton">Agregar proyecto</button>

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  
<mat-tab-group>
    <mat-tab *ngFor="let proyecto of proyectos" label={{proyecto.label}}>
      <mat-card>
        <mat-card-title>{{proyecto.title}}</mat-card-title>
          <mat-card-content>
            {{proyecto.content}}
          </mat-card-content>
      </mat-card>
      <div class="sesion-grid">
        <mat-card *ngFor="let sesion of proyecto.sesiones" class="sesion-card">
          <mat-card-title>{{sesion.title}}</mat-card-title>
          <mat-card-content>
            <p>{{sesion.content}}</p>
          </mat-card-content>
        </mat-card>
      </div>
    </mat-tab>
</mat-tab-group>
<div>
  <br>
  <mat-card>
    <button id="boton" type="button" mat-raised-button (click)="editarProyecto()" class="btn btn-outline-success">Editar proyecto</button>
  </mat-card>
  <br><br>
</div>
