<h1 mat-dialog-title>Crear Nueva Sesion</h1>

<br>
<div mat-dialog-content>
  <p>Nombre de Sesion/Sujeto</p>
  <mat-form-field>
    <mat-label>Nombre</mat-label>
    <input matInput placeholder="Nombre">
  </mat-form-field>

  <p> Informacion Relevante</p>
  <mat-form-field class="example-full-width">
    <mat-label >Informacion Relevante</mat-label>
    <textarea style= "width: 260px" matInput placeholder="Ex. It makes me feel..."></textarea>
  </mat-form-field>

<div mat-dialog-actions>
  <button mat-button style="margin:5%">Crear Sesion</button>
</div>
</div>