<h1 mat-dialog-title>Crear Nueva Sesion</h1>

<br>
<div mat-dialog-content>
  <form (submit) = crearsesion()>

  
  <p>Nombre de Sesion/Sujeto</p>
  <mat-form-field>
    <mat-label>Nombre</mat-label>
    <input matInput [(ngModel)]='sesionnueva.nombre' name= "nombre" placeholder="Nombre">
  </mat-form-field>

  <p> Informacion Relevante</p>
  <mat-form-field class="example-full-width">
    <mat-label >Informacion Relevante</mat-label>
    <textarea style= "width: 260px" matInput [(ngModel)]='sesionnueva.descripcion' name="descripcion" placeholder="Ex. It makes me feel..."></textarea>
  </mat-form-field>

  <p>Edad</p>
  <mat-form-field>
    <mat-label>Edad</mat-label>
    <input matInput [(ngModel)]="sesionnueva.edad" name="edad" placeholder="Nombre">
  </mat-form-field>

  <h4>Basic native select</h4>
  <mat-form-field appearance="fill">
  <mat-label>Sexo</mat-label>
  <select matNativeControl required [(ngModel)]="sesionnueva.sexo" name ="sexo">
    <option  value="M">Hombre</option>
    <option  value="F">Mujer</option>
  </select>
  </mat-form-field>


  <button mat-button style="margin:5%" type="submit">Crear Sesion</button>

</form>
</div>