<form (submit) = editarProyecto()>
  <h1>Nuevo Proyecto</h1>

  <mat-form-field style="width: 100% !important;">
    <mat-label>Name</mat-label>
    <input matInput [(ngModel)]='proyecto.nombre' name= "nombre" placeholder="Nombre">
  </mat-form-field>

  <mat-form-field style="width: 100% !important;">
    <mat-label>Description</mat-label>
    <textarea matInput [(ngModel)]='proyecto.descripcion' name="descripcion" placeholder="Descripcion"></textarea>
  </mat-form-field>

  <!--<mat-form-field appearance="fill">
    <mat-label>Choose a date</mat-label>
    <input matInput [matDatepicker]="picker" [(ngModel)]='proyecto.fecha_inicio' name="fecha" placeholder="Fecha">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>-->

  <button mat-raised-button color="primary" type="submit">Guardar</button>
  <button mat-raised-button color="danger" (click)="borrar()">Eliminar Proyecto</button>
</form>
