<form>
  <h1>Editar Proyecto</h1>

  <mat-form-field style="width: 100% !important;">
    <mat-label>Name</mat-label>
    <input matInput placeholder="Name" name="name">
  </mat-form-field>

  <mat-form-field style="width: 100% !important;">
    <mat-label>Description</mat-label>
    <textarea matInput type="text" placeholder="Description" name="description"></textarea>
  </mat-form-field>

  <button mat-raised-button color="primary">Guardar</button>
  <button mat-raised-button color="danger">Eliminar</button>
</form>
