<div class="container">
  <button mat-raised-button (click)="popup()" class="button" style="float:center" color="accent">Editar sesion</button>
  <br><br>
<div class="sesion">
  <br><br>
  
    <mat-card>
      <mat-card-title>{{sesiones["nombre"]}}</mat-card-title><br>
        <mat-card-content>
          {{sesiones["descripcion"]}}
        </mat-card-content>
    </mat-card>
    <div class="graph-container">
        <div style="display: block">
          <svg width="900" height="500"></svg>

        </div>
    </div>
    <div class="sesion-grid">
      <mat-card *ngFor="let exp of sesion.experimentos" class="sesion-card">
        <mat-card-title>{{exp.title}}</mat-card-title>
        <mat-card-content>
          <p>{{exp.content}}</p>
        </mat-card-content>
        <button id="boton" type="button" mat-raised-button class="btn btn-outline-success" (click)="this.printResult()">Ver más</button>
      </mat-card>
    </div>
</div>
<br><br>
</div>