<!--
<div class = "container">
    <div class="square">
        <p class="font-titulo">&nbsp;BLEXO&nbsp; 
        </p>

        <p class="font-nombre">&nbsp;Bienvenido/a&nbsp;
        </p>
    </div>
</div>
-->

<div class = "flex-container-titulo">
    <div class = "square">
        <p class="font-titulo">&nbsp;{{nombreproyecto}}&nbsp; </p>
    </div>
</div>


<div class = "flex-container">
    <div class = "container2">
        <p class = "font-descripcion-principal"> DESCRIPCION </p>
        
    </div>
    <div class = "container2">
        <p class = "font-descripcion-principal"><br> {{descripcion}}</p>
    </div>


    
    <!--Chart-->
    <div class="graph-container">
        <div style="display: block">
          <canvas baseChart height="200px" width ="600"
            [datasets]="barChartData"
            [labels]="barChartLabels"
            [options]="barChartOptions"
            [legend]="barChartLegend"
            [chartType]="barChartType">
          </canvas>
        </div>
    </div>


    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    <div class="news-container">
        <div>
            <p class="titulo_noticia">{{titulo_experimento}}</p> 
            <br><br>
            <div class="info_noticia"> 
                <p class="titulo_noticia">{{contenido_experimento}}</p> 
            </div>
        </div>
        <div>
            <p class="titulo_noticia">{{titulo_experimento}}</p> 
            <br><br>
            <div class="info_noticia"> 
                <p class="titulo_noticia">{{contenido_experimento}}</p> 
            </div>
        </div>
        <div>
            <p class="titulo_noticia">{{titulo_experimento}}</p> 
            <br><br>
            <div class="info_noticia"> 
                <p class="titulo_noticia">{{contenido_experimento}}</p> 
            </div>
        </div>
    </div>
    <div class = "flex-container-titulo">
        <div class = "square">
            <p class="font-titulo"></p>
            <br>
        </div>
    </div>


    <div class="news-container">
         <button mat-raised-button (click)="popup()" class="button" style="float:center" color="accent">Aplicar cambios</button>
    </div>


    <br>
       
    

</div>