<div class="container">
  <button mat-raised-button (click)="popup()" class="button" style="float:center" color="accent">Editar sesion</button>
  <br><br>
<div class="sesion">
  <br><br>
  
    <mat-card>
      <mat-card-title>{{sesion.title}}</mat-card-title><br>
        <mat-card-content>
          {{sesion.content}}
        </mat-card-content>
    </mat-card>
    <div class="graph-container">
        <div style="display: block">
          <!--
            <canvas baseChart height="200px" width ="600"
            [datasets]="barChartData"
            [labels]="barChartLabels"
            [options]="barChartOptions"
            [legend]="barChartLegend"
            [chartType]="barChartType">
          </canvas>
          -->
          
          <svg width="900" height="500"></svg>

        </div>
    </div>
    <div class="sesion-grid">
      <mat-card *ngFor="let exp of sesion.experimentos" class="sesion-card">
        <mat-card-title>{{exp.title}}</mat-card-title>
        <mat-card-content>
          <p>{{exp.content}}</p>
        </mat-card-content>
        <button id="boton" type="button" mat-raised-button class="btn btn-outline-success">Ver más</button>
      </mat-card>
    </div>
</div>
<br><br>
</div>