<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Position Column -->
    <ng-container matColumnDef="atencion">
      <th mat-header-cell *matHeaderCellDef> % Atencion      </th>
      <td mat-cell *matCellDef="let element"> {{element.atencion}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="angulox">
      <th mat-header-cell *matHeaderCellDef> Angulo en X </th>
      <td mat-cell *matCellDef="let element"> {{element.angulox}} </td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="anguloy">
      <th mat-header-cell *matHeaderCellDef> Angulo en y </th>
      <td mat-cell *matCellDef="let element"> {{element.anguloy}} </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  
  