body{ 
  overflow-x : auto; 
  width: 1000px;
} 

#apellido-editar{
  padding-left: 50px;
}

#email-field-edit{
  padding-left:50px;
}

#confirmpassword-field{
  padding-left:20px;
}

#guardar{
  margin-left: 80px;
}

#cancelar{
  margin-left: 40px;
}



