.container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  background-color: #d4dccd;
}

.top-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icon{
  margin-bottom: 20px;
}

.card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.password-container{
  margin-bottom: 30px;
}

#email-field{
  width: 300px;
}

#password-field{
  width: 300px;
}

a{
  margin-top: 20px;
}