
body {
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
}
.top-container{
  margin-top: 50px;
  margin-left: 45%;
}

#logo{
  padding-left: 12%;
  padding-bottom: 3%;
}

#blexo{
  padding-top: 10px;
  height:3px;
}

#iniciar-sesion{
  padding-top: 30px;
}

.email-container {
  padding: 0px;
  margin-top: 0px;
  margin-left: 45%;
  // height: 50px;
}

#email-field{
  margin-left: -8%;
  // margin:0px;
  width: 300px;
}

.password-container{
  padding: 0;
  //margin-top: 20px;
  margin-left: 45%;
  margin-bottom: 30px;
}

#password-field{
  margin-left: -8%;
  width: 300px;
  margin-top: 1px;
}
#eye{
  margin-left: -50%;
}

button{
  //margin-top: 30px;
  margin-left: 50%;
margin-bottom: 10px;
}

a{
  margin-left: 45%;
}