.mat-drawer{
    width: 200px;
    background: #90E0EF;
    border-width: 5px;
    border-color: #03045E;
    height: auto;
    overflow: visible;
}

.mat-drawer-container{
    height: 100%;
    overflow-y: hidden;
    position: relative;
}
