<h1 mat-dialog-title>Editar Sesion</h1>

<br>
<div mat-dialog-content>
  <form (submit) = "editarsesion()">
  <p>Nombre de Sesion/Sujeto</p>
  <mat-form-field>
    <mat-label>Nombre</mat-label>
    <input matInput [(ngModel)]="sesion.nombre" name="nombre" placeholder="Nombre">
  </mat-form-field>

  <p> Informacion Relevante</p>
  <mat-form-field class="example-full-width">
    <mat-label >Informacion Relevante</mat-label>
    <textarea style= "width: 260px" matInput [(ngModel)]="sesion.descripcion" name="descripcion" placeholder="Ex. It makes me feel..."></textarea>
  </mat-form-field>

  
  <p>Edad</p>
  <mat-form-field>
    <mat-label>Edad</mat-label>
    <input matInput [(ngModel)]="sesion.edad" name="edad" placeholder="Nombre">
  </mat-form-field>

  <p>Sexo</p>
  <mat-form-field appearance="fill" >
  <mat-label>Sexo</mat-label>
  <select matNativeControl required [(ngModel)]="sesion.sexo" name ="sexo">
    <option value="M">Hombre</option>
    <option value="F">Mujer</option>
  </select>
  </mat-form-field>
  <button mat-button id="button" style="margin:5%"  type="submit">Editar</button>
  
</form>
<button mat-button id= "button1" style="margin:5%" (click)="borrar()">Eliminar Experimento</button>
</div>