@import '~@angular/material/prebuilt-themes/indigo-pink.css';

body {
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
}
.basic-container {
  padding: 30px;
}
.version-info {
  font-size: 8pt;
  float: right;
  margin: 8px;
}

.mat-dialog-content{
    position: center;
    width:300px;
    height: 300px;
}
.mat-button{
    margin: auto;
    display:block;
}

.textarea{
    width: 250px;
}
