
  .spacer {
    flex: 1 1 auto;
    align-content: center;
  }
  .user_box {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
    padding-top: 10px;
}
.mat-toolbar {
  background: #03045E;
  color: #fff;
}