<style>
p {

  text-align: center;
  font-size: 20px;

}
</style>

<mat-card>
  <mat-card-title>{{newData.nombre}}<mat-divider [inset]="true"></mat-divider></mat-card-title>
<mat-card>

  <mat-card-title>  </mat-card-title>

  <mat-card-content>

  <p >

    {{newData.info}} </p>

    <mat-grid-list cols="2" rowHeight="50px">
      <mat-grid-tile> <button mat-flat-button color="primary"  >Visualizar Resultados</button></mat-grid-tile>
      <mat-grid-tile><button mat-flat-button color="accent" (click)="openEdit()">Editar Experimento</button></mat-grid-tile>
    </mat-grid-list>

  </mat-card-content>

</mat-card>
<mat-grid-list cols="2" rowHeight="2:1">
  <mat-grid-tile>
    <mat-card>


      <mat-card-content>
        <img mat-card-image src = "assets/ejemplo-gráfico-navegadores-lifeder.jpg" height="400px" >
      </mat-card-content>

    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card>


      <mat-card-content>
        <img mat-card-image src = "assets/tipos-de-graficos-en-excel-2013-01.png" height="400px" >
      </mat-card-content>

    </mat-card>
  </mat-grid-tile>
</mat-grid-list>

</mat-card>




