<div class= "top-container">
        <mat-icon class="icon" id="logo" aria-hidden="false" aria-label="Example user verified icon">account_box</mat-icon>
        <div class = "mat-display-3" id = "blexo">BLEXO</div>
        <div class = "mat-display-1" id = "registro">Registro</div>
      </div>
    

<div class="name-container">
<label for="registerName"><b>Nombre</b></label>
<input type="text"
        placeholder="Nombre"
        name="uname"
        id = "registerName">
</div>

<div class="lastName-container">
<label for="registerLastName"><b>Apellidos</b></label>
<input type="text"
        placeholder="Apellido"
        name="uname"
        id = "registerLastName">
</div>

<div class="email-container">
<label for="loginEmail"><b>Correo electrónico</b></label>
<input type="text"
        placeholder="Ingresa tu dirección de correo electrónico"
        name="uname"
        id = "loginEmail">
</div>

<div class="password-container">
<label for="loginPassword"><b>Contraseña</b></label>
<input type="password"
        placeholder="Contraseña"
        name="uname"
        id = "loginPassword">
</div>

<div class="confirmpassword-container">
<label for="confirmPassword"><b>Confirmar Contraseña</b></label>
<input type="password"
        placeholder="Confirmar Contraseña"
        name="uname"
        id = "confirmPassword">
</div>

<button type="submit"
          class = "btn btn-primary">Registrarse</button>
