body {
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
}

.top-container{
  margin-top: 50px;
  margin-left: 45%;
}

#logo-register{
  padding-left: 12%;
  padding-bottom: 3%;
}

#blexo-register{
  padding-top: 10px;
  height:3px;
}

#registro{
  padding-top: 30px;
}

.name-container{
  margin-top: 20px;
  margin-left: 45%;
}

// .lastName-container{
//   padding: 0;
//   margin: 0;
//   position: absolute;
//   top:240px;
//   left: 35%;
//   width: 500px;
//   height: 150px;
// }
// .email-container {
//   padding: 0px;
//   margin-top: 0px;
//   margin-left: 45%;
//   // height: 50px;
// }

// #email-field-register{
//   margin-left: -8%;
//   // margin:0px;
//   width: 300px;
// }

// .password-container{
//   padding: 0;
//   //margin-top: 20px;
//   margin-left: 45%;
//   margin-bottom: 30px;
// }

// #password-field-register{
//   margin-left: -8%;
//   width: 300px;
//   margin-top: 1px;
// }
// #eye-register{
//   margin-left: -50%;
// }

// .confirmpassword-container{
//   padding: 0;
//   margin: 0;
//   position: absolute;
//   top:400px;
//   left: 25%;
//   width: 500px;
//   height: 200px;
// }

// .btn{
//   padding: 0;
//   margin: 0;
//   position: absolute;
//   top: 450px;
//   left: 45%;
// }
