
body {
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
}

.top-container{
  margin-top: 50px;
  margin-left: 45%;
}

#logo{
  padding-left: 12%;
  padding-bottom: 3%;
}

#blexo{
  padding-top: 10px;
  height:3px;
}

#registro{
  padding-top: 30px;
}

.name-container{
  padding: 0;
  margin: 0;
  position: absolute;
  top:180px;
  left: 35%;
  width: 500px;
  height: 150px;
}

.lastName-container{
  padding: 0;
  margin: 0;
  position: absolute;
  top:240px;
  left: 35%;
  width: 500px;
  height: 150px;
}
.email-container {
  padding: 0;
  margin: 0;
  position: absolute;
  top:300px;
  left: 28%;
  width: 500px;
  height: 200px;

}
.password-container{
  padding: 0;
  margin: 0;
  position: relative;
  top: 290px;
  left: 33%;
  width: 500px;
  height: 200px;
}

.confirmpassword-container{
  padding: 0;
  margin: 0;
  position: absolute;
  top:400px;
  left: 25%;
  width: 500px;
  height: 200px;
}

.btn{
  padding: 0;
  margin: 0;
  position: absolute;
  top: 450px;
  left: 45%;
}
