.container{
    background-color: #00B4D8;
    height: 100%;
}
.mat-tab-group{
    margin: 30px;
    border: 2px solid;
    background-color: #CAF0F8;
}

.sesion-grid{
    margin-top: 20px;
    align-items: stretch;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}

.sesion-card{
    width: 700px;
    height: 450px;
    overflow: hidden;
    margin-left: 60px;
    margin-bottom: 20px;
    flex-basis: 33.333%;
    flex-grow: 0;
    flex-shrink: 0;
}

.title{
    margin-left: 35px;
    font-size: xx-large;
    color: white;
    font-weight: bold;
}

.button{
    background: #0077B6;
}

#boton{
    margin-left: 30px;
    background: #0077B6;
    color: white;
}